@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

body{
    background-color: black;
    color: azure;
    margin: auto;
}

header{
    background-color: currentColor;
    padding: 20px;
    display: flex;
    align-items: flex-start;
}

div, h2{
    font-size: 25px;
    font-family: "Matrix";
}

table, p {
    margin: 20px;
    font-size: 25px;
    font-family: "Matrix";
}

td, p {
    padding: 0 20px;
}

#medsos ul {
    list-style-type: none;
}

#medsos ul li {
    float: left;
    margin: 0 5px;
}

#medsos ul li img {
    height: 60px;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
