<!doctype html>
{% load static %}
<html>
    <head>
        <title>Profil Saya</title>

        <!-- <link rel="stylesheet" type="text/css" href="/static/css/style.css"> -->
        
        <style>
            @import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

            body{
                background-color: black;
                color: azure;
                margin: auto;
            }

            header{
                background-color: currentColor;
                padding: 20px;
                display: flex;
                align-items: flex-start;
            }

            div, h2{
                font-size: 25px;
                font-family: "Matrix";
            }

            table, p {
                margin: 20px;
                font-size: 25px;
                font-family: "Matrix";
            }

            td, p {
                padding: 0 20px;
            }

            #medsos ul {
                list-style-type: none;
            }

            #medsos ul li {
                float: left;
                margin: 0 5px;
            }

            #medsos ul li img {
                height: 60px;
            }

            .center{
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 50%;
            }

        </style>
        
    </head>

    <body>
        <div id="Foto">
            <img src="{% static 'images/foto.jpg' %}" class="center">
        </div>

        <div id="biodata">
            <h2>Biodata</h2>
            <table>
                <tr>
                    <td>Nama</td>
                    <td>Jeremy Victor Andre Napitupulu</td>
                </tr>

                <tr>
                    <td>NPM</td>
                    <td>1906293114</td>
                </tr>

                <tr>
                    <td>Angkatan</td>
                    <td>Maung 2019</td>
                </tr>

                <tr>
                    <td>Hobi</td>
                    <td>Menyanyi</td>
                </tr>

                <tr>
                    <td>Kuliah</td>
                    <td>Fasilkom UI</td>
                </tr>
            </table>
        </div>

        <div id="Dasar2">
            <h2>Deskripsi tentang saya</h2>
            <p>Anak bungsi di keluarga dengan 2 anak. Sejak kecil, sudah menaruh minat pada dunia informatika terutama keamanan siber. Saat SMA, mulai mengenal dunia pemrograman dan belajar algoritma khususnya competitive programming. Sejak saat itu, sudah menaruh pilihan pada jurusan informatika untuk kuliahnya.</p>
        </div>

        <div id="Riwayat">
            <h2>Riwayat Pendidikan</h2>
            <table>
                <tr>
                    <td>2004-2007</td>
                    <td>TK Lematang Lestari</td>
                </tr>

                <tr>
                    <td>2007-2010</td>
                    <td>SD Lematang Lestari</td>
                </tr>

                <tr>
                    <td>2010-2011</td>
                    <td>SD Baptis Palembang</td>
                </tr>
               
                <tr>
                    <td>2011-2013</td>
                    <td>SD Stella Marris BSD</td>
                </tr>

                <tr>
                    <td>2013-2016</td>
                    <td>SMP Santa Ursula BSD</td>
                </tr>

                <tr>
                    <td>2016-2019</td>
                    <td>SMA Negeri 2 Tangerang Selatan</td>
                </tr>

                <tr>
                    <td>2019-Sekarang</td>
                    <td>Universitas Indonesia</td>
                </tr>
            </table>
        </div>

        <div id="medsos" class="vcenter">

            <ul id="list" style="display:table; margin:0 auto;">
                <li><a target="_blank" href="https://www.linkedin.com/in/jeremy-victor-andre-napitupulu-975988136/"><img src="{% static 'images/linkedin.png' %}"></a></li>
                <li><a target="_blank" href="https://twitter.com/iyejeremy"><img src="{% static 'images/twitter.png' %}"></a></li>
                <li><a target="_blank" href="https://instagram.com/jeremyanj"><img src="{% static 'images/instagram.png' %}"></a></li>
            </ul>
        </div>
    </body>
</html>