{% extends 'base.html' %}
{% load static %}

{% block body %}

    <div class="jumbotron vertical-center fluid page" id="intro">
        
        <div class="h-100 row align-item-center">

            <div class="col text-center">
                <img src="{% static 'images/fasilkom.png' %}" class="img-fluid" id="foto-profil">
                
                <div class="typed hello">
                    <span class="typed"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="jumbotron vertical-center fluid page" id="education">

        <!-- <div class="text-center">
            <h1>Education</h1>
        </div> -->

        <div class="h-100 row align-items-center">
            <div class="col">
                
                <div class="text-center educationimg">
                    <img src="{% static 'images/1.png' %}" class="rounded">
                </div>

                <h1>Elementary School</h1>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">TK Lematang Lestari</li>
                </ul>
            </div>

            <div class="col">
                <h1>Primary School</h1>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">SD Lematang Lestari</li>
                    <li class="list-group-item">SD Baptis Palembang</li>
                    <li class="list-group-item">SD Stella Marris BSD</li>
                </ul>

                <div class="text-center educationimg">
                    <img src="{% static 'images/2.png' %}" class="rounded">
                </div>

            </div>
            
            <div class="col">

                <div class="text-center educationimg">
                    <img src="{% static 'images/3.png' %}" class="rounded">
                </div>

                <h1>Junior High School</h1>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">SMP Santa Ursula BSD</li>
                </ul>
            </div>

            <div class="col">
                <h1>Senior High School</h1>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">South Tangerang 2nd High School </li>
                </ul>

                <div class="text-center educationimg">
                    <img src="{% static 'images/4.png' %}" class="rounded">
                </div>

            </div>

            
            <!-- tidak diinclude atas pertimbangan belom selesai, jadi belum bisa dianggap riwayat pendidikan

            <div class="col align-self-end">
                <h1>University</h1>
                <ul class="list-group">
                    <li class="list-group-item">University of Indonesia</li>
                </ul>

                <div class="text-center" style="margin-top: 10px;">
                    <img src="img/bem-fasilkom.png" class="rounded">
                </div>

            </div> -->


        </div>

    </div>

    <div class="jumbotron vertical-center fluid page" id="experience">

        <!-- <div class="text-center">
            <h1>Experience</h1>
        </div> -->

        <div class="h-100 row align-items-center">
            
            <table class="table table-borderless">

                <tbody>
                    <tr>
                        <td>
                            <div class="block add-img">
                                <img src="{% static 'images/bem-fasilkom.png' %}" class="img-fluid">
                            </div>
                        </td>
                        
                        <td>
                            <div class="block">
                                <p class="text-center display-4" style="font-family: allerta;">Visual Design Staff at Runtime Error 4.0<br></p>
                                <p class="text-center desc">September 2019 - November 2019</p>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="block add-img">
                                <img src="{% static 'images/perak.jpg' %}" class="img-fluid">
                            </div>
                        </td>
                        
                        <td>
                            <div class="block">
                                <p class="text-center display-4" style="font-family: allerta;">Games Division Staff at PERAK 2020<br></p>
                                <p class="text-center desc">January 2020 - Present</p>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="block add-img">
                                <img src="{% static 'images/compfest.jpg' %}" class="img-fluid">
                            </div>
                        </td>
                        
                        <td>
                            <div class="block">
                                <p class="text-center display-4" style="font-family: allerta;">Competition Staff at COMPFEST 12<br></p>
                                <p class="text-center desc">February 2020 - Present</p>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

    <div class="jumbotron vertical-center fluid page" id="hobby">

        <!-- <div class="text-center">
            <h1>Hobby</h1>
        </div> -->

        <div class="h-100 row align-items-center">
            <table class="table table-borderless">

                <tbody>
                    <tr>
                        <td>
                            <div class="block add-img">
                                <img src="{% static 'images/music.jpg' %}" class="img-fluid">
                            </div>
                        </td>
                        
                        <td>
                            <div class="block">
                                <p class="text-left hobby-text">A wise man once said, “god created both of our ears for 1 sole reason, music.”.</p>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="block add-img">
                                <img src="{% static 'images/sport.png' %}" class="img-fluid">
                            </div>
                        </td>
                        
                        <td>
                            <div class="block">
                                <p class="text-left hobby-text">Jogging around the neighborhood in the morning? Obviously the best.</p>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="block add-img">
                                <img src="{% static 'images/pillow-512.png' %}" class="img-fluid">
                            </div>
                        </td>
                        
                        <td>
                            <div class="block hobby-text">
                                <p class="text-left hobby-text">Sleep after heavy work? do I really have to explain?</p>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>


    <div class="jumbotron vertical-center fluid page" id="contact">

        <!-- <div class="text-center">
            <h1>Contact</h1>
        </div> -->

        <div class="h-100 row align-items-center">

            <div class="container">
                
                <p class="display-4">
                    Say Hello, <br>
                    <a class="text-decoration-none" href="mailto:jeremy.victor@ui.ac.id">Send me an email!</a>
                    <br><br>
                    Or check my <br>
                    <a class="text-decoration-none" href="https://www.linkedin.com/in/jeremy-victor-andre-napitupulu-975988136/">LinkedIn,</a> <br>
                    <a class="text-decoration-none" href="https://www.instagram.com/jeremyanj/">Instagram,</a> <br>
                    And <a class="text-decoration-none" href="https://twitter.com/iyejeremy">Twitter</a>. <br>
                </p>
            </div>
        </div>
    </div>

{% endblock %}