{% extends 'base.html' %}
{% load static %}

{% block body %}

    <div class="jumbotron vertical-center fluid page" id="magic">
        
        <div class="h-100 row align-content-center">

            <div class="col text-center">
                <img src="{% static 'images/fasilkom.png' %}" class="img-fluid" id="foto-profil">
                
                <span class="navbar-text">
                        
                    <div class="text-center">
                        <button type="button" class="btn btn-danger align-self-center" data-toggle="modal" data-target="#exampleModal">
                            Wanna see Magic?
                        </button>
                    </div>
                </span>

                <img src="{% static 'images/fasilkom.png' %}" class="img-fluid" id="foto-profil">
            </div>
        </div>
    </div>

    <!-- Challenge 2 start here -->      
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100" src="{% static 'images/1.png' %}" alt="First slide">
                            </div>

                            <div class="carousel-item">
                                <img class="d-block w-100" src="{% static 'images/2.png' %}" alt="Second slide">
                            </div>

                            <div class="carousel-item">
                                <img class="d-block w-100" src="{% static 'images/3.png' %}" alt="Third slide">
                            </div>

                            <div class="carousel-item">
                                <img class="d-block w-100" src="{% static 'images/spongebob_meme.jfif' %}" alt="Third slide">
                            </div>
                        </div>

                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>

                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>

                </div>
                <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Close</button>
                </div> -->
            </div>
        </div>
    </div>

{% endblock %}