{% extends 'base.html' %}
{% load static %}

{% block body %}

    <div class="jumbotron vertical-center fluid page">
        
        <div class="h-100 row align-item-center">

            <div class="col text-center">
                <img src="{% static 'images/fasilkom.png' %}" class="img-fluid" id="foto-profil">
                
                <h1>{{finalTime}}</h1>
            </div>
        </div>
    </div>


{% endblock %}