<div id = "navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container">
            <a class="navbar-brand" href="{% url 'homepage:index' %}">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">

                {% if magic != True %}
                    <li class="nav-item active">
                        <a class="nav-link" href="#education">Education <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="#experience">Experience <span class="sr-only">(current)</span></a>
                    </li>
                    
                    <li class="nav-item active">
                        <a class="nav-link" href="#hobby">Hobby <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="#contact">Contact <span class="sr-only">(current)</span></a>
                    </li>
                {% endif %}

                    <li class="nav-item disabled">
                        <a class="nav-link" href="{% url 'homepage:magic' %}">Magic <span class="sr-only">(current)</span></a>
                    </li>

                    <span class="nav-item disabled">
                        <a class="nav-link" href="{% url 'story1:story1' %}">Story 1 <span class="sr-only">(current)</span></a>
                    </span>

                    <span class="nav-item disabled">
                        <a class="nav-link" href="{% url 'homepage:time' %}">Time <span class="sr-only">(current)</span></a>
                    </span>

                </ul>

                <!-- <span class="navbar-text">
            
                    <div class="text-center">
                        <button type="button" class="btn btn-danger align-self-center" data-toggle="modal" data-target="#exampleModal">
                            See Some Photos
                        </button>
                    </div>
                </span> -->
            </div>
        </div>    
    </nav>
</div>